{% extends 'base.html' %}
{% load bootstrap5 %}

{% block page_title %} Alunos {% endblock %}


{% block page_content %}
<main>
    <div class="container">

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class=""> Alunos </h1>
                    <p></p>
                </div>
            </div>
        </section>
    
        <div class="container">
            
            <div class="d-flex justify-content-between">
                <h2>Alunos cadastrados</h2>
                
                <a href="cadastro_aluno" class="btn btn-success my-2" data-bs-toggle="modal" data-bs-target="#cadastroAlunoModal">Cadastrar aluno</a>
                {% include 'cadastro_aluno.html' %}
            </div>

            {% bootstrap_messages %}

            <div class="table-responsive">
                <table class="table table-striped align-middle">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Foto</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Curso</th>
                            <th scope="col">Data Nascimento</th>
                            <th scope="col">Idade</th>
                            <th scope="col">Data de ingresso</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for aluno in alunos %}
                        
                            <tr>
                                <th scope="row"> {{ aluno.id}} </th>
                                <td>
                                    <img src="{{ aluno.foto_perfil.url }}" class="img-thumbnail" width="128px">
                                </td>
                                <td><a href="#" data-bs-toggle="modal" data-bs-target="#modalFoto{{ aluno.id }}">{{ aluno.nome }}</a></td>
                                <td>{{ aluno.curso }} </td>
                                <td>{{ aluno.data_nascimento }} </td>
                                <td>{{ aluno.idade }} </td>
                                <td>{{ aluno.data_ingresso }} </td>
                            </tr>

                            <div class="modal fade" id="modalFoto{{ aluno.id }}" tabindex="-1" aria-labelledby="modalFoto{{ aluno.id }}Label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalFoto{{ aluno.id }}Label">Foto de {{ aluno.nome }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                                        </div>
                                        <div class="modal-body">
                                            <img src="{{ aluno.foto_perfil.url }}" class="img-fluid" alt="Foto de {{ aluno.nome }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</main>

{% endblock %}