{% extends 'base.html' %}

{% block page_content %}

<div class="container"> 

        <section class="py-5 text-center container">
          <div class="row py-lg-5">
              <div class="col-lg-6 col-md-8 mx-auto">
                  <h1 class=""> Acesso não autorizado </h1>
                  <p></p>
              </div>
          </div>

          <img src="https://http.cat/images/401.jpg" alt="Imagem de gato olhando para aviso proibindo gatos." width="750rem"> <br>
          <a href="/" class="btn btn-secondary my-2"> Voltar ao início </a>
        </section>


    </div>

{% endblock %}